.canDo{
    padding-block: 70px 100px;
}

.canDo__title{
    color: var(--dark, #072125);
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 12px;
}

.canDo__description{
    display: inline-block;
    color: var(--dark, #072125);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-block-end: 60px;
}

.canDo__list{
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
    gap: 39px;   
}

.canDo__item{
    max-width: 266px;
    list-style: none;
}

.item__image{
    padding: 16px;
    border-radius: 12px;
    background: var(--primary-light, #DCF2ED);
    width: max-content;
    margin-block-end: 33px;
}

.item__title{
    color: var(--dark, #072125);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 12px;
}

.item__description{
    color: var(--dark, #072125);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}