.list__item{
    list-style: none;
    max-width: 356px;
}

.item__card{
    min-height: 359.417px;
    background-color: #20484F;
    border-radius: 37% 38% 64% 26% / 49% 39% 37% 40%;
    padding: 35px 66px 41px 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 344px;
    margin-block-end: 26px;
}


.project__box{
    display: flex;
    gap: 19px;
    border-radius: 12px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 40px 0px rgba(138, 138, 138, 0.04);
    max-width: 364px;
    padding-block: 23px 38px;
    padding-inline: 26px 32px;
}

.project__image{
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: hsla(167, 47%, 91%, 1);
}

.project__name{
    display: inline-block;
    color: var(--dark-green, #20484F);
    font-family: Plus Jakarta Sans;
    font-size: 20.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 13px;
}

.line{
    border-radius: 12px;
    background: var(--border, rgba(32, 72, 79, 0.10));
    width: 230.348px;
    height: 9.281px;
    margin-block-end: 10px;
}

.line__two{
    border-radius: 12px;
    background: var(--border, rgba(32, 72, 79, 0.10));
    width: 153.565px;
    height: 9.281px;
}

.item__title{
    color: var(--dark, #072125);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 14px;
}

.item__description{
    color: var(--dark, #072125);
    display: inline-block;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}